body {
    background-image: url(./images/sky-background.jpg);
    background-size: cover;
    height: 100vh;
    padding: 0;
    margin: 0;
}

h2, #searchBox {
    border-radius: 15px;
    background-color: #054484;
    color: white;
}

li {
    border-width: 30px;
    border-color: rgba(40, 47, 51, 0.911);
}

li::first-letter {
    text-transform:capitalize;
}

.weatherDate {
    background-color: rgba(0, 123, 255, 0.253) ;
}